body {
  display: block;
  margin: 8px;
  font-family:sans-serif;
}

.parallax {
  /*the image used*/
background-image: url("img_parallax");
/*set a specific height: */
height: 500px;

/*creating the scrolling effect*/













  )


}
